__pycache__/
_site/
!.gitignore
!*.md
!*/README.md
!lib/*.jsx
!LICENSE
._*
.\#*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache/
.classpath
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.env
.env.local
.fseventsd
.fuse_hidden*
.history/
.idea/
.jekyll-cache/
.jekyll-metadata
.LSOverride
.netrwhist
.nfs*
.project
.Python
.settings/
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
*-Recovered*
*.ai filter=lfs diff=lfs merge=lfs -text
*.ai~
*.bak
*.cab
*.code-workspace
*.elc
*.iml
*.ipr
*.iws
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.psd filter=lfs diff=lfs merge=lfs -text
*.py[cod]
*.so
*.stackdump
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tar.gz
*.tmp
*.xcodeproj
*.xcworkspace
*.zip
*~
*$py.class
/.emacs.desktop
/.emacs.desktop.lock
\#*\#
~*.tmp
$RECYCLE.BIN/
AIS_errors.log
auto-save-list
build/
coverage/
dist/
ehthumbs_vista.db
ehthumbs.db
ENV/
env/
Icon
local.config
logs/
Network Trash Folder
node_modules/
npm-debug.log*
old/.idea/
old/.vscode/
old2/.idea/
old2/.vscode/
out/
package-lock.json
reference
Session.vim
Sessionx.vim
temp/
Temporary Items
test-results/
Thumbs.db
Thumbs.db:encryptable
tmp/
tramp
venv/
yarn-debug.log*
yarn-error.log*
yarn.lock
